.products {

}

.container {
    max-width: 1432px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.products__container {
    /* position: relative; */
}

.products__wrapper {
    display: flex;
    justify-content: center;
    margin: 70px 0px 100px;
}

.produvts__heading {
    font-weight: 400;
    font-size: 48px;
    font-family: 'Teko', sans-serif;
    color: #000000;
}

.products__list {
    display: flex;
    overflow: hidden;
}

.products__item {

}

.products__img {
    width: 1432px;
    height: 480px;
    object-fit: cover;
}

.products__btn {
    position: absolute;
    top: 2300px;
    transform: translateY(-200%);
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 40px;
    color:#007bff;;
}

.products__btn[data-btn-type="left"] {
    left: 0;
}

.products__btn[data-btn-type="right"] {
    right: 0;
}