.news {
    padding: 123px 0px 140px;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 60px;
    padding-right: 60px;
}

.news__container {

}

.news__top {

}